@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
}
body{
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: lightcoral;
}
h1{
    font-size: 150px;
    font-weight: 800;
    position: absolute;
}
.text{
    color: lightgray;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.text-liquid{
    color: lightskyblue;
    animation: wave 3s ease-in-out infinite;
}
@keyframes wave {
    0%,100%{
        clip-path: polygon(0% 100%, 0% 55%, 24% 67%, 61% 68%, 99% 42%, 100% 100%);
    } 50% {
        clip-path: polygon(0% 100%, 0% 59%, 30% 36%, 68% 33%, 99% 53%, 100% 100%);
    }
}
